<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>

    <link rel="stylesheet" href="../static/styles/dashboard.css" />
  </head>
  <body>
    <header class="header">
      <div class="header-flex-container">
        <img src="../static/images/logo.svg" class="logo" alt="logo" />

        <div class="header-icons-container">
          <div class="header-icon-wrapper icon-wrapper-orange">
            <img
              src="../static/images/bell-icon.svg"
              class="header-icon"
              alt="bell"
            />
          </div>

          <div class="header-icon-wrapper icon-wrapper-red">
            <img
              src="../static/images/mail-icon.svg"
              class="header-icon"
              alt="mail"
            />
          </div>

          <div class="header-icon-wrapper icon-wrapper-green">
            <img
              src="../static/images/event-icon.svg"
              class="header-icon"
              alt="event"
            />
          </div>
        </div>
      </div>

      <div class="header-flex-container" style="align-items: center">
        <div class="header-search">
          <img
            src="../static/images/search-icon.svg"
            class="header-icon"
            alt="event"
          />

          <input
            class="header-search-input"
            type="text"
            placeholder="Search with AI assistant..."
          />
        </div>
      </div>

      <div class="header-side-btns">
        <button class="upgrade-link-btn">Upgrade</button>
        <button
          class="website-link-btn"
          onclick="window.location.href='/booking/home/{{company_id}}'"
        >
          <img
            src="../static/images/link-icon.png"
            alt="link"
            class="header-icon"
          />

          My Booking Website
        </button>
      </div>
    </header>

    <main class="main-container">
      <section class="side-bar-section">
        <div class="side-bar-options" onclick="window.location.href='/'">
          Home
        </div>
        <div class="side-bar-options side-bar-options--active">Dashboard</div>
        <div
          class="side-bar-options"
          onclick="window.location.href='/manage-items/{{company_id}}'"
        >
          Manage
        </div>
      </section>

      <section class="details-section">
        <div class="top-section-container" style="padding-bottom: 10px">
          <div class="small-top-section-container">
            <div class="small-top-section">
              <div class="small-top-section-title">Bookings today</div>

              <div>
                <img
                  src="../static/images/view-icon.svg"
                  alt="view"
                  class="view-icon"
                />
              </div>
            </div>

            <div class="small-stats-section">
              <div class="rise-triangle"></div>
              <div>-67.5%</div>
            </div>

            <div class="small-section-count">2</div>
            <div class="small-section-date">26-09-2024</div>
          </div>

          <div class="small-top-section-container">
            <div class="small-top-section">
              <div class="small-top-section-title">Bookings this week</div>

              <div>
                <img
                  src="../static/images/view-icon.svg"
                  alt="view"
                  class="view-icon"
                />
              </div>
            </div>

            <div class="small-stats-section">
              <div class="rise-triangle"></div>
              <div>-67.5%</div>
            </div>

            <div class="small-section-count">2</div>
            <div class="small-section-date">26-09-2024</div>
          </div>

          <div class="small-top-section-container">
            <div class="small-top-section">
              <div class="small-top-section-title">Workload this week</div>

              <div>
                <img
                  src="../static/images/view-icon.svg"
                  alt="view"
                  class="view-icon"
                />
              </div>
            </div>

            <div class="small-stats-section">
              <div class="rise-triangle"></div>
              <div>-67.5%</div>
            </div>

            <div class="small-section-count">
              2 <span style="font-size: 1.4rem; font-weight: 600">h</span>
            </div>
            <div class="small-section-date">26-09-2024</div>
          </div>

          <div class="small-top-section-container">
            <div class="small-top-section">
              <div class="small-top-section-title">Revenue this week</div>

              <div>
                <img
                  src="../static/images/view-icon.svg"
                  alt="view"
                  class="view-icon"
                />
              </div>
            </div>

            <div class="small-stats-section">
              <div class="fall-triangle"></div>
              <div>-67.5%</div>
            </div>

            <div class="small-section-count">
              2 <span style="font-size: 1.4rem; font-weight: 600">inr</span>
            </div>
            <div class="small-section-date">26-09-2024</div>
          </div>
        </div>
        <div class="top-section-container">
          <div class="small-top-section-container">
            <div class="small-top-section">
              <div class="small-top-section-title">Visits previous week</div>

              <div>
                <img
                  src="../static/images/view-icon.svg"
                  alt="view"
                  class="view-icon"
                />
              </div>
            </div>

            <div class="small-stats-section">
              <div class="fall-triangle"></div>
              <div>-67.5%</div>
            </div>

            <div class="small-section-count">2</div>
            <div class="small-section-date">26-09-2024</div>
          </div>

          <div class="small-top-section-container">
            <div class="small-top-section" style="margin-bottom: 1rem">
              <div class="small-top-section-title">
                Your current tariff is: Trial
              </div>
            </div>
            <div class="tarrif-details">
              <div>valid until:</div>
              <div>09-10-2024</div>
              <div>Days left</div>
              <div>13</div>
              <div>SMS credits left</div>
              <div>0</div>
              <div>Bookings left</div>
              <div>38</div>
            </div>
          </div>
        </div>

        <div class="booking-container">
          <div class="booking-sections">
            <div class="booking-section-title booking-section-title--active">
              Upcoming bookings
            </div>
            <div class="booking-section-title">Recently added bookings</div>
          </div>

          <div class="booking-details-container">
            <div class="booking-details-titles">
              <div>Date</div>
              <div>Service Duration</div>
              <div style="grid-column: span 2">Service Name</div>
              <div>Client</div>
            </div>

            <div class="booking-details-values">
              <div>
                <div>26-09-2024</div>
                <div style="font-size: 80%; color: #6a758c">
                  26-09-2024 10:08
                </div>
              </div>
              <div>15:50 - 16:30</div>
              <div class="booking-details-link">Online tutoring</div>
              <div>by <span class="booking-details-link">Hitesh</span></div>
              <div>Sassin</div>
              <div class="booking-details-link">details</div>
            </div>

            <div class="booking-details-values">
              <div>
                <div>26-09-2024</div>
                <div style="font-size: 80%; color: #6a758c">
                  26-09-2024 10:08
                </div>
              </div>
              <div>15:50 - 16:30</div>
              <div class="booking-details-link">Online tutoring</div>
              <div>by <span class="booking-details-link">Hitesh</span></div>
              <div>Sassin</div>
              <div class="booking-details-link">details</div>
            </div>

            <div class="booking-details-values">
              <div>
                <div>26-09-2024</div>
                <div style="font-size: 80%; color: #6a758c">
                  26-09-2024 10:08
                </div>
              </div>
              <div>15:50 - 16:30</div>
              <div class="booking-details-link">Online tutoring</div>
              <div>by <span class="booking-details-link">Hitesh</span></div>
              <div>Sassin</div>
              <div class="booking-details-link">details</div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
